<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <title>LifeText Account</title>
        <link rel="shortcut icon" href="favicon.ico" />
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/static/account.js"></script>

        <div class="wrapper">

            <div class="container" visible="true" style="padding:10px 0">
  
                      <h3>Unfortunately we have had too many signups recently.  Thank you for your interest, and please check again soon.
                      </h3>
            </div>

            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </body>
</html>
